In [33]:
import pandas as pd
import numpy as np
import datetime
import holidays
pd.options.display.float_format = '{:.2f}'.format

In [34]:
df = pd.read_csv("data/bikes.csv", index_col=0)

<p> Eliminamos la columna index al tratarse de un Ã­ndice </p>

In [35]:
df.drop(['instant'], axis= 1, inplace= True)

<p> Cambiamos la columna dteday a datetime </p>

In [36]:
df["dteday"]=df["dteday"].astype('datetime64[ns]')

In [37]:
df.head(15)

,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,2018-01-01,spring,0,1,0,6,0,2,14.11,18.18,80.58,10.75,331,654,985
1,2018-02-01,spring,0,1,0,0,0,2,14.90,17.69,69.61,16.65,131,670,801
2,2018-03-01,spring,0,1,0,1,1,1,8.05,9.47,43.73,16.64,120,1229,1349
3,2018-04-01,spring,0,1,0,2,1,1,8.20,10.61,59.04,10.74,108,1454,1562
4,2018-05-01,spring,0,1,0,3,1,1,9.31,11.46,43.70,12.52,82,1518,1600
5,2018-06-01,spring,0,1,0,4,1,1,8.38,11.66,51.83,6.00,88,1518,1606
6,2018-07-01,spring,0,1,0,5,1,2,8.06,10.44,49.87,11.30,148,1362,1510
7,2018-08-01,spring,0,1,0,6,0,2,6.76,8.11,53.58,17.88,68,891,959
8,2018-09-01,spring,0,1,0,0,0,1,5.67,5.81,43.42,24.25,54,768,822
9,2018-10-01,spring,0,1,0,1,1,1,6.18,7.54,48.29,14.96,41,1280,1321
10,2018-11-01,spring,0,1,0,2,1,2,6.93,9.57,68.64,8.18,43,1220,1263
11,2018-12-01,spring,0,1,0,3,1,1,7.08,8.02,59.95,20.41,25,1137,1162
12,2018-01-13,spring,0,1,0,4,1,1,6.76,7.54,47.04,20.17,38,1368,1406
13,2018-01-14,spring,0,1,0,5,1,1,6.60,9.42,53.78,8.48,54,1367,1421
14,2018-01-15,spring,0,1,0,6,0,2,9.57,12.41,49.88,10.58,222,1026,1248

In [39]:
df['yr'] = df['dteday'].apply(lambda x: x.year)

In [48]:
df['mnth'] = df['dteday'].apply(lambda x: x.strftime("%b"))

In [47]:
df['weekday'] = df['dteday'].apply(lambda x: x.strftime("%a"))

In [49]:
df.head(5)

,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,2018-01-01,spring,2018,Jan,0,Mon,0,2,14.11,18.18,80.58,10.75,331,654,985
1,2018-02-01,spring,2018,Feb,0,Thu,0,2,14.90,17.69,69.61,16.65,131,670,801
2,2018-03-01,spring,2018,Mar,0,Thu,1,1,8.05,9.47,43.73,16.64,120,1229,1349
3,2018-04-01,spring,2018,Apr,0,Sun,1,1,8.20,10.61,59.04,10.74,108,1454,1562
4,2018-05-01,spring,2018,May,0,Tue,1,1,9.31,11.46,43.70,12.52,82,1518,1600

In [1]:
us_holidays = holidays.US()

NameError: name 'holidays' is not defined

<p> Guardar los cambios en este archivo al final de la sesiÃ³n </p>

In [ ]:
df.to_pickle("data/bikes_limpieza.pkl")